In [1]:
import pandas as pd


sales_df = pd.read_csv("data/Rossmann_store.csv", low_memory = False)
store_df = pd.read_csv("data/Rossmann_train.csv", low_memory = False)

combined_df = pd.merge(sales_df, store_df, on='Store')
combined = combined_df.dropna()

In [3]:
combined_sorted = combined.sort_values(by='Sales', ascending = False)
combined_sorted

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
237048,261,d,c,15340.0,4.0,2015.0,1,39.0,2009.0,"Jan,Apr,Jul,Oct",1,2013-12-16,37646,1964,1,1,0,0
114899,126,d,a,3370.0,10.0,2014.0,1,18.0,2011.0,"Feb,May,Aug,Nov",4,2013-10-24,33071,574,1,1,0,1
457525,502,a,a,220.0,2.0,2002.0,1,37.0,2009.0,"Jan,Apr,Jul,Oct",1,2014-03-31,32368,3069,1,1,0,0
236684,261,d,c,15340.0,4.0,2015.0,1,39.0,2009.0,"Jan,Apr,Jul,Oct",1,2014-12-15,32355,1718,1,1,0,0
936355,1027,a,c,190.0,6.0,2008.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",1,2013-12-16,31702,2960,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579914,636,c,a,720.0,10.0,2004.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",7,2013-03-03,0,0,0,0,0,0
579907,636,c,a,720.0,10.0,2004.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",7,2013-03-10,0,0,0,0,0,0
579900,636,c,a,720.0,10.0,2004.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",7,2013-03-17,0,0,0,0,0,0
579893,636,c,a,720.0,10.0,2004.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",7,2013-03-24,0,0,0,0,0,0
1013440,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",2,2013-01-01,0,0,0,0,a,1

In [4]:
top_20_percent_index = int(len(combined_sorted) * 0.2)
top_20_percent_sales = combined_sorted.head(top_20_percent_index)
top_20_percent_sales

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
237048,261,d,c,15340.0,4.0,2015.0,1,39.0,2009.0,"Jan,Apr,Jul,Oct",1,2013-12-16,37646,1964,1,1,0,0
114899,126,d,a,3370.0,10.0,2014.0,1,18.0,2011.0,"Feb,May,Aug,Nov",4,2013-10-24,33071,574,1,1,0,1
457525,502,a,a,220.0,2.0,2002.0,1,37.0,2009.0,"Jan,Apr,Jul,Oct",1,2014-03-31,32368,3069,1,1,0,0
236684,261,d,c,15340.0,4.0,2015.0,1,39.0,2009.0,"Jan,Apr,Jul,Oct",1,2014-12-15,32355,1718,1,1,0,0
936355,1027,a,c,190.0,6.0,2008.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",1,2013-12-16,31702,2960,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862524,947,a,a,460.0,3.0,2014.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",5,2014-10-24,8003,1100,1,1,0,0
790794,868,d,c,1360.0,8.0,2005.0,1,10.0,2014.0,"Jan,Apr,Jul,Oct",5,2014-07-04,8003,599,1,1,0,0
551753,605,d,a,10310.0,4.0,2003.0,1,37.0,2009.0,"Jan,Apr,Jul,Oct",2,2013-11-05,8003,532,1,1,0,0
494033,542,a,a,7280.0,9.0,2012.0,1,1.0,2013.0,"Jan,Apr,Jul,Oct",2,2013-06-04,8003,667,1,1,0,0
343154,377,a,c,100.0,6.0,2010.0,1,18.0,2010.0,"Feb,May,Aug,Nov",1,2015-01-26,8003,915,1,1,0,0